@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;

}

body {
    display: flex;
    flex-direction: column;
    background-color: #fffbf0;
}

header h1 {
    color: #B58900;
    margin-top: 25px;
}

header, .centered-box, footer {
    flex-shrink: 0;
}


.title {
    font-size: 4rem;
    font-weight: 400;
    font-family: 'Jost', sans-serif;
    color: #2c3e50;
}

.title:hover {
    background-image: linear-gradient(90deg, #f4d444, #f86ca7, #8dd0fc);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

/* MOBILE */

.navbar-toggler {
    border: none;  /* Elimina el borde del botón */
    background: transparent;  /* Establece un fondo transparente */
    margin-bottom: 0.5rem;
}

.navbar-toggler-icon {
    background-image: none;  /* Elimina la imagen de fondo SVG */
    width: 30px;   /* Establece un ancho */
    height: 15px;  /* Establece un alto */
    display: inline-block;
    position: relative;
}

.navbar-toggler-icon::before,
.navbar-toggler-icon::after,
.navbar-toggler-icon span {
    content: "";
    display: block;
    width: 100%;   /* Asegura que tenga el ancho completo */
    height: 3px;   /* Altura de cada línea */
    background-color: #2c3e50;  /* Color de las líneas */
    position: absolute;
    left: 0;
}

.navbar-toggler-icon::before {
    top: 0;
}

.navbar-toggler-icon::after {
    bottom: 0;
}

.navbar-toggler-icon span {
    top: 50%;
    transform: translateY(-50%);
}

.collapse {
    margin-top: 15px;
}

/* DESKTOP */

nav a.nav-link {
    color: #0087b5;
    font-size: 1.2rem;
    font-family: 'Jost', sans-serif;
}


nav a.nav-link.active {
    color: #2c3e50;
}

.nav-link.active:hover {
    transform: none;
}

.nav-link:hover {
    color: #ff6767;
    transform: scale(1.15);
    transition: transform 0.1s ease;
}

a.highlight, a.highlight:link, a.highlight:visited {
    color: #2c3e50; /* Ejemplo: hereda el color del texto circundante */
    text-decoration: underline; /* Ejemplo: elimina el subrayado */
}


a.no-link-dec, a.no-link-dec:link, a.no-link-dec:visited {
    color: inherit; /* Ejemplo: hereda el color del texto circundante */
}

a.no-link-dec:hover {
    color: #ff6767;      /* Color azul al hacer hover */
}

a:link {
    text-decoration: none;
    color: #0087b5;
}

a:visited {
    color: #0087b5;
}

a:hover {
    color: #ff6767;
}

.custom-border {
    border-bottom: 2px solid #2c3e50;
    width: 100%;
    margin: 10px auto;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

#ontop {
    .flex-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow: 2;
        /* justify-content: space-between; */ /* Comentar o eliminar esta línea */
    }

}

.flex-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 2;
    justify-content: space-between; /* Esto asegura que haya espacio equitativo entre los elementos */

}

@media (min-width: 1000px) {
    .flex-wrapper, .terminal, .centered-box {
        width: 70%; /* O cualquier otro porcentaje o valor fijo que prefieras */
        margin: auto; /* Esto centrará los elementos en la ventana */
    }
}

.terminal {
    background-color: #2c3e50;
    padding: 15px;
    /* border-radius: 5px; */
    margin-top: 1rem;
    box-sizing: border-box;
    width: 90%;
    text-align: center;
    border: 2px solid #0087b5;

}

.terminal p {
    font-family: 'Courier New', Courier, monospace;
    color: #f3d55e;
    margin: 0;
    font-size: 1.2em;
}

.cursor {
    animation: blink 1s infinite;
    display: inline-block;
    margin-left: 4px;
}

.arrow {
    animation: blink 1.5s infinite;
}

.box-header {
    background-color: #fff7dc;
    /* font-weight: bold;  texto en negrita */
    border-bottom: 2px solid #0087b5;
    margin-bottom: 0;
    margin: 0;
    padding: 5px;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    color: #0087b5;

}

.inner-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 40px 10px 40px;
    box-sizing: border-box;

}

.centered-box-win {
    border: 2px solid #0087b5;
    font-size: 20px;
    flex-grow: 1;
    margin: 1.5rem 0;
    width: 90%;
    padding: 0;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#contact {
        background-color: #fff7dc;
        padding: 0;

}

.centered-box {
    border: 2px solid #0087b5;
    font-size: 20px;
    flex-grow: 1;
    margin: 2rem 0;
    width: 90%;
    padding: 40px;
    max-height: calc(100% - 100px - [header height] - [footer height]);
    min-height: 100px;
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;

}

h3, h4 {
    font-family: 'Jost', sans-serif;
    color: #2c3e50;
}

h3 {
    font-size: 1.25rem;
}

p {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.1rem;
    color: #2c3e50;

}

.highlight {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.1rem;
    font-weight: bold;
    text-decoration: underline;
    display: inline-block;
    transition: transform 0.3s;

}

.highlight:hover {
    transform: scale(1.01);
}

.social-icon img {
    height: 2rem;
    vertical-align: middle;
    margin-left: 10px;
    margin-right: 10px;
    filter: invert(21%) sepia(14%) saturate(1155%) hue-rotate(169deg) brightness(97%) contrast(94%);
}

.social-icon:hover img {
    filter: invert(54%) sepia(87%) saturate(1443%) hue-rotate(322deg) brightness(108%) contrast(101%);
    transform: scale(1.3);

}

.social-icon:first-child {
    margin-left: 0;
}

.social-icon:last-child {
    margin-right:0;
}

footer {
    color: #2c3e50;
    padding: 2rem;  /* Cambia '30px' a la cantidad de padding que desees. */
    margin-top: auto;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 40px 20px 40px;
    box-sizing: border-box;
}

label {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.1rem;
    color: #0087b5;
}

.form-control {
    border-radius: 0; /* Ajusta este valor a tu preferencia para cambiar el radio de las esquinas */
    border: 2px solid #0087b5; /* Ajusta el grosor y color del borde a tu preferencia */
    font-family: 'Roboto Mono', monospace;

}

button {
    background-color: transparent;
    border: none;
    color: #0087b5;
    font-family: 'Roboto Mono', monospace;
    text-align: left;
    padding-left: 0;
    box-shadow: none;
    outline: none;
}

button:hover {
    color: #ff6767;
}

