{% extends "layout.html" %}

{% block mobilemenu %}
<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('index') }}">ABOUT</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active">PROJECTS</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('texts') }}">WRITINGS</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('more') }}">CONTACT</a>
    </li>
</ul>
{% endblock %}

{% block desktopmenu %}
<!-- <li class="nav-item me-1"><a class="nav-link active" href="index.html">HOME</a></li> -->
<li class="nav-item me-1"><a class="nav-link" href="{{ url_for('index') }}">ABOUT</a></li>
<li class="nav-item me-1"><a class="nav-link active">PROJECTS</a></li>
<!-- <li class="nav-item me-1"><a class="nav-link" href="art.html">ART</a></li> -->
<li class="nav-item me-2"><a class="nav-link" href="{{ url_for('texts') }}">WRITTINGS</a></li>
<li class="nav-item"><a class="nav-link" href="{{ url_for('more') }}">CONTACT</a></li>
{% endblock %}

{% block content %}

<!-- <div class="terminal">
                <p>Mediator between thoughts and machines.<span class="cursor">|</span></p>
            </div> -->

<div class="centered-box-win">

    <div class="box-header">
        Current Projects
    </div>

    <div class="inner-text">
        <h3>Visual Git</h3>
        <p class="pt-3 pb-3">
            A terminal-based script designed to simplify your version control process with Git and GitHub.
            Leveraging textual outputs, Visual Git provides an intuitive experience that streamlines your
            workflow, making complex tasks easier to manage and understand.
        </p>
        <h4>Tools</h4>

        <p>
            <img src="https://www.svgrepo.com/show/377907/python.svg" alt="Python Logo"
                style="vertical-align: middle; height: 20px; width: auto;"> Python
            <img src="https://www.svgrepo.com/show/361365/terminal-bash.svg" alt="Bash Logo"
                style="vertical-align: middle; height: 20px; width: auto;"> Bash
        </p>

        <p class="pt-3">
            <a href="https://github.com/alexaldearroyo/visualgit" target="_blank">
                <span class="arrow">></span> More info in
                GitHub</a>
        </p>

    </div>
</div>
{% endblock %}