{% extends "layout.html" %}


{% block mobilemenu %}

<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link active">ABOUT</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="dev.html">PROJECTS</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="texts.html">WRITINGS</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="more.html">CONTACT</a>
    </li>
</ul>
{% endblock %}

{% block desktopmenu %}
<!-- <li class="nav-item me-1"><a class="nav-link active" href="index.html">HOME</a></li> -->
<li class="nav-item me-1"><a class="nav-link active">ABOUT</a></li>
<li class="nav-item me-1"><a class="nav-link" href="dev.html">PROJECTS</a></li>
<!-- <li class="nav-item me-1"><a class="nav-link" href="art.html">ART</a></li> -->
<li class="nav-item me-2"><a class="nav-link" href="texts.html">WRITTINGS</a></li>
<li class="nav-item"><a class="nav-link" href="more.html">CONTACT</a></li>
{% endblock %}

{% block content %}
<div class="terminal">
    <p>Mediator between thoughts and machines.<span class="cursor">|</span></p>
</div>

<div class="centered-box">
    <p>I work professionally as a <a class="no-link-dec" href="dev.html"><span class="highlight">software
                engineer and full-stack web developer</span></a>.</p>

    <p>I express ideas through code, design and stories.</p>
    <p>I work with <b>html</b>, <b>css</b>, <b>javascript</b>, <b>bootstrap</b> and <b>python</b>.</p>
    <p>I am the creative type, so I make some art and music too.</p>
    <p> I have a background in translation and international studies.</p>
    <p>I speak English, Spanish, French, Korean and Japanese.</p>
</div>

<div class="container text-center link-container">

    <a href="https://github.com/alexaldearroyo/" class="social-icon" target="_blank" rel="noopener noreferrer">
        <img src="{{ url_for('static', filename='images/github.svg') }}" alt="GitHub">
    </a>

    <a href="https://twitter.com/alexaldearroyo" class="social-icon" target="_blank" rel="noopener noreferrer">
        <img src="{{ url_for('static', filename='images/twitter.svg') }}" alt="Twitter / X">
    </a>

    <a href="mailto:alexaldearroyo@gmail.com" class="social-icon" target="_blank" rel="noopener noreferrer">
        <img src="{{ url_for('static', filename='images/email.svg') }}" alt="Email">
    </a>

</div>

{% endblock %}
</div>