{% extends "layout.html" %}


{% block mobilemenu %}
<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('index') }}">ABOUT</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('dev') }}">PROJECTS</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active">WRITINGS</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('more') }}">CONTACT</a>
    </li>
</ul>
{% endblock %}


<!-- DESKTOP MENU -->


{% block desktopmenu %}
<!-- <li class="nav-item me-1"><a class="nav-link active" href="index.html">HOME</a></li> -->
<li class="nav-item me-1"><a class="nav-link" href="{{ url_for('index') }}">ABOUT</a></li>
<li class="nav-item me-1"><a class="nav-link" href="{{ url_for('dev') }}">PROJECTS</a></li>
<!-- <li class="nav-item me-1"><a class="nav-link" href="art.html">ART</a></li> -->
<li class="nav-item me-2"><a class="nav-link active">WRITINGS</a></li>
<li class="nav-item"><a class="nav-link" href="{{ url_for('more') }}">CONTACT</a></li>
{% endblock %}

{% block content %}
<!-- <div class="terminal">
                <p>Mediator between thoughts and machines.<span class="cursor">|</span></p>
            </div> -->

<div class="centered-box-win">

    <div class="box-header">
        Latest Articles
    </div>

    <div class="inner-text">
        <h3>Mastering VS Code: The Power of Keyboard Shortcuts
        </h3>

        <p class="pt-3">
            <a href="https://medium.com/@alexaldearroyo/mastering-vs-code-the-power-of-keyboard-shortcuts-8736ab081442"
                target="_blank">
                <span class="arrow">></span> Read on Medium</a>
        </p>

    </div>

    <div class="inner-text">
        <h3>Learn How to Use Git & GitHub: A Guide for Absolute Beginners
        </h3>

        <p class="pt-3">
            <a href="https://medium.com/@alexaldearroyo/learn-how-to-ue-git-github-a-guide-for-absolute-beginners-a051f5ed7d63"
                target="_blank">
                <span class="arrow">></span> Read on Medium</a>
        </p>

    </div>
</div>

{% endblock %}

<footer>
    <span>&copy; Alex Arroyo 2023</span>
</footer>
</body>

</html>